diffusers
Flask_Cors
numpy
transformers 
opencv-python
opencv-contrib-python
Pillow
salesforce_lavis
segment_anything
scikit-image
protobuf
triton
safetensors
sentencepiece
accelerate
bitsandbytes
easydict
albumentations
kornia
chardet


